.panel-heading{height: auto;overflow: hidden;}
.panel-body{border-left:1px solid #ece8e8;border-right: 1px solid #ece8e8;border-bottom: 1px solid #ece8e8;}
.title{float: left;}
.tools{float:right;}
.tools a{color:#e5dede;}
.footer-default {background-image: linear-gradient(white, #e9ecef 60%, #e3e7eb); border:1px solid #ddd;}
.footer-primary {background-color: #1ab394;}
.footer-warning {background-color: #f8ac59;}
.footer-danger {background-color: #ed5565;}
.footer-success {background-color: #1c84c6;}
.panel-footer{color: #a64627;height: auto; overflow: hidden;}
.panel{ padding:0px;}