.ysz-list-item-center {
    display: flex;
    align-items: center;

    & > .ysz-list-item-center__center-item {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    } 
}